*{
    box-sizing: border-box;
  }
  
  body{
    background-color: lightskyblue;
    line-height: 25px;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .container{
    width: 100%;
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
  }
  
  #titleGame{
    background: skyblue;
    font-weight: normal;
    padding: 20px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #instructions{
    background: lightgreen;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
   
  #counter{
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  #total{
    background: lightgray;
    padding: 59px;
    text-align: center;
    margin-right: 10px;
  }
  
  #winloss{
    background: yellow;
    padding: 25px;
  }
  
  #crystals{
    margin-left: 350px;
  }
  
  .click{
    height: 100px;
    width: 100px;
  }
  
  #totalScore{
    font-size: 25px;
    background: lightpink;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  #score-update{
    font-size: 25px;
    background: salmon;
    padding: 20px;
    height: 200px;
    margin-bottom: 40px;
  }
  